node_modules
dist
dist-ssr
*.local
*.tsbuildinfo
.DS_Store

# Downloaded files
drive-download-*.zip

# Python
__pycache__
*.py[cod]
*$py.class
*.so

# Environment
.env
.env.local
.env.*.local

# IDE
.vscode
.idea

# Raw Client Images
/images/